version: 2
jobs:
  build:
    docker: 
      - image: circleci/node
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn test

      - run: yarn build

  deploy:
    docker:
      - image: circleci/node
    working_directory: ~/repo
    context: npm
    steps:
      - ls .
      - echo $TOKEN